<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibFeed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/site.css') }}">
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <img class="logo" src="https://pbs.twimg.com/profile_images/703869570/ARSlogoforWeb_400x400.jpg">
              <a class="navbar-brand site-title" href="/">LibFeed</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/about">About</a></li>
                  <li><a href="/register">Register</a></li>
                  <li><a href="/login">Login</a></li>
              </ul>
          </div>
      </div>
  </nav>
{# Display errors (if there are any). #}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{# Render the login form. #}
<form method="post" class="login">
  {{ form.hidden_tag() }}
  {{ form.login(placeholder='Email', required='true') }}<br><br>
  {{ form.password(placeholder='Password', required='true') }}<br><br>
  <button type="submit" class="form-button">Log In</button>
</form>

{# If social login is enabled, display social login buttons. #}
{% if config['STORMPATH_ENABLE_FACEBOOK'] or config['STORMPATH_ENABLE_GOOGLE'] %}
  <p>Or, log in using a social provider.</p>
  {% if config['STORMPATH_ENABLE_FACEBOOK'] %}
    {% include "flask_stormpath/facebook_login_form.html" %}
  {% endif %}
  {% if config['STORMPATH_ENABLE_GOOGLE'] %}
    {% include "flask_stormpath/google_login_form.html" %}
  {% endif %}
{% endif %}
</body>
